extends layout

block content
  .page 
    .container
      nav
      h1= title
      p Welcome to #{title}
      //- p
      //-   span.fst-italic My first offer test: #{offers.map(offer => offer.title)}
      //- p &nbsp;
      //- p &nbsp;
      .row
        .col-sm-6
          each offer of offers
            .card
              img.card-img-top(src=offer.photos[0] alt=offer.title height='*')
              h3.card-header #{offer.title} 
              .card-body
                .card-title.small.text-end ID:&nbsp; 
                  span.small #{offer.offerUUID}
                .card-text
                  ul.list-group
                      li.list-group-item
                        h5 Location: 
                        p.small #{offer.location.slice().reverse().map(loc => loc).join(' ')}
                      li.list-group-item
                        h5 Created: 
                        p.small #{offer.creationTime}
                      li.list-group-item
                        h5 Offer Description: 
                        p #{offer.description}   
                      li.list-group-item 
                        h5 Comment\s: 
                        ul 
                          li 
                            each comment of offer.comments
                              p.fw-bold #{comment.creationTime}&nbsp;
                              p #{comment.comment}
                              p.fst-italic Whosemadethecommentthough?
              button.btn.btn-primary View Offer

      .row   
        .col-sm-6 
        p &nbsp;
        span.fw-bold => link to users
        //- a(href="/users?name=armagan") #{ben}
        //- a(href="/users?name=ben") #{armagan}
        