extends layout

block content
  .page 
    .container
      nav
      h1= title
      p Welcome to #{title}
      //- p
      //-   span.fst-italic My first offer test: #{offers.map(offer => offer.title)}
      //- p &nbsp;
      //- p &nbsp;
      .row
        .col-sm-6
          each offer of offers
            .card
              img.card-img-top(src=offer.photos[0] alt=offer.title height='*')
              h3.card-header #{offer.title} 
              .card-body
                h5.card-title Location:&nbsp; 
                  span #{offer.location.slice().reverse().map(loc => loc).join(' ')} 
                .card-text
                
                ul.list-group
                    li.list-group-item
                      h5 Offer Description: 
                      p #{offer.description}   
                    li.list-group-item
                      h5 Offer ID: 
                      p #{offer.offerUUID}
                    li.list-group-item 
                      h5 Comment 
                      ul 
                        li 
                          each comment of offer.comments
                            p.fw-bold #{comment.creationTime}&nbsp;
                            p #{comment.comment}
              button.btn.btn-primary View Offer

      .row   
        .col-sm-6 
        p &nbsp;
        span.fw-bold => link to users
        //- a(href="/users?name=armagan") #{ben}
        //- a(href="/users?name=ben") #{armagan}
        