extends layout

block content
  .page 
    .container
      nav
      h1= title
      p Welcome to #{title}
      //- p
      //-   span.fst-italic My first offer test: #{offers.map(offer => offer.title)}
      //- p &nbsp;
      //- p &nbsp;
      .row
        each offer of offers
          .col-sm-5
            .card
              img.card-img-top(src=offer.photos[0] alt=offer.title height='*')
              h3.card-header #{offer.title} 
              .card-body
                .card-title.small.text-end ID:&nbsp; 
                  span.small #{offer.offerUUID}
                .card-text
                  ul.list-group
                    li.list-group-item
                      h5 Location: 
                      p.small #{offer.location.slice().reverse().map(loc => loc).join(' ')}
                    li.list-group-item
                      h5 Created: 
                      p.small #{offer.creationTime}
                    li.list-group-item
                      h5 Offer Description: 
                      p #{offer.description}   
                    li.list-group-item 
                      if offer.comments.length == 1
                        h5 Comment: 
                      else
                        h5 Comments: 
                      each comment of offer.comments
                        ul 
                          li.comment-list-item
                            p.fw-bold.fst-italic #{comment.sender.name}:
                            p #{comment.comment}
                            p.text-end.small.text-muted #{comment.creationTime}&nbsp;
                            
                    li.list-group-item
                      h5 Liked By: 
                      p #{offer.likedBy.map(person => person.name).join(', ')}&nbsp;
                        span (#{offer.likedBy.length}) 
                    li.list-group-item
                      h5 Made by: 
                      a(href="/users/" + offer.owner[0].name)
                        span #{offer.owner[0].name}
                      span &nbsp;                         
              button.btn.btn-primary View Offer
            p &nbsp;
            p &nbsp;

      .row   
        .col-sm-12 
          p &nbsp;
          span.fw-bold => links to users&nbsp;
          each person of persons
            a(href="/users?name="+person.name)
              button.btn.btn-secondary(type="button") #{person.name}
            span &nbsp;


          
        