extends layout

block content
  .page 
    .container
      nav
      h1= title
      p Welcome to #{title}    
      .row
        .col-sm-6
          .card
              h5 List Items 0
              .card-body
                p Offer Description 
                a(href="/users?name=armagan") #{ben}
                a(href="/users?name=ben") #{armagan}
                p 
                p Location
                button View Offer

        .col-sm-6
          .card
              h5 List Items 1
              .card-body
                p Offer Description 
                a(href="/users?name=armagan") #{ben}
                a(href="/users?name=ben") #{armagan}
                p 
                p Location                
                button View Offer