extends layout

block content
  .page 
      .container 
          .row 
            .col-sm-12 
                h4 #{person.name} (#{person.offers.length})
                p Location: #{person.location.slice().reverse().join(' ')}
                p Age: #{person.age}
                p #{person.name} has #{person.offers.length} offers
                p &nbsp;

                each offer, index in person.offers
                  h4 #{index + 1}. #{offer.title}
                  if !offer.location || offer.location.length == 0
                    p no location yet!
                  else
                    p Location: #{offer.location.slice().reverse().join(' ')}   

                  if !offer.category || offer.category.length == 0
                    p no category yet!
                  else
                    p Category: #{offer.category}   

                  h5 Description:
                  if !offer.description || offer.description.length == 0
                    p 
                      i no description yet!
                  else
                    .card-body.border #{offer.description && offer.description}

                  if !offer.status || offer.status.length == 0
                    p no status yet!
                  else
                    p Status: #{offer.status}                              

                  if !offer.likedBy || offer.likedBy.length == 0
                    p no 'Liked By' yet!
                  else
                    p Liked By: #{offer.likedBy.map(person => person.name).join(', ')} (#{offer.likedBy.length})   

                  if !offer.commenters || offer.commenters.length == 0
                    p no Commenters yet!
                  else
                    p Commenters: #{offer.commenters.slice().sort().filter((commenter, index2, array) => array.indexOf(commenter) === index2).join(', ')}
                    p Total comments: #{offer.commenters.length}
                    <br>
                    <br>
                  //- if !offer.category || offer.category.length == 0
                  //-   p no category yet!
                  //- else
                  //-   p Category: #{offer.category}   